

@font-face {
	font-family:"Outreque";
	src: url(fonts/OutrequeRegular.ttf) format("truetype");
}

@font-face {
    font-family:"Outreque Light";
    src: url(fonts/OutrequeLight.ttf) format("truetype");
}


@font-face {
    font-family:"Outreque Medium";
    src: url(fonts/OutrequeMedium.ttf) format("truetype");
}

    body{
        background-color: black;
        font-family:'Outreque';
        margin:0px 0px 0px 0px;
        color: white;
        font-size: 16pt;
    }



    header{
        margin:10px 10px 10px 10px;
        background-color: black;
    }


    .menu{
        background-color: black;
        padding-top: 15px;
        padding-bottom: 15px;
        text-align: right;
    }

    .signature{
        position: absolute;
        position:fixed;
        margin-left: 20px;
        margin-top: -55px;
    }


    li{
        list-style: none;
        border: 1px solid white ;
        padding: 3px 8px 3px 8px;
        border-radius: 10px;
        margin: auto 5px auto 5px;
        display: inline;
        
    }

    li:hover{
        text-decoration: underline;
        cursor: pointer;
    }



    ul{
        list-style: none;
        border: 1px dashed white ;
        padding: 3px 8px 3px 8px;
        border-radius: 2px;
        margin:auto;
        display: inline;
        line-height: 24pt;
        text-wrap: nowrap;


    }



    .conteneur-flex{
        display: flex;
        flex-wrap: wrap;
        margin: 50px 5px 5px 5px;
    }
  
    .article-flex{
        margin: 5px 5px 5px 5px;
        flex: 1 1 400px;
        transition-duration: 1s;
    }


    .article-flex:hover{
        transition-duration: 1s;
        height: fit-content;
        text-decoration: underline;        
    }

    .image-flex{
        margin: 5px 5px 5px 5px;
        flex: 1 1 500px;
        transition-duration: 1s;
    }


    .date{
        font-family: "Outreque Light";
        font-size: smaller;
        font-weight: lighter;
    }


    .article-flex-deux{
        flex: 1 1 320px;
        background-image: url("images/palmiersNOIR2.gif");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        transition-duration: 1s;
        padding: 10px 10px 10px 10px;
        height: 600px;
    }

    .article-flex-deux:hover{
        background-image: url("images/walk.gif");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        transition-duration: 1s;
            }


            .article-flex-box{
                margin: 5px 5px 5px 5px;
                flex: 1 1 400px;
                transition-duration: 1s;
                border: 1px dashed white ;

            }

a{
    color: inherit;
    text-decoration: none;
}

a:active{
    color: blueviolet;
}




footer{
    text-align: center;
    border-top: 1px solid white;
    font-size: 12pt;
}





.title{
    margin: 140px 10px -20px 10px;
    text-align: left;
}





.description-projet{
    margin: 0px 10px 40px 10px;
    max-width: 70%;
    text-align: left;
    font-size: 15pt;
    font-family: "Outreque";

}


.info{
    margin: -15px 0px 20px 10px;
    text-align: left;
}



.qui{
    text-align: center;
    margin: 100px auto 200px auto;
    width: 500px;
    font-size: 13pt;
   

}


h1{
    font-family: "Outreque";
    font-size: 30pt;
    letter-spacing: 1pt;

}



iframe{
    padding-bottom: 75%;
    width: 100%;
}





.studio{
    background-color: black;
    text-align: left;
}

#namestudio{
    font-family: "Outreque Light";
    font-size: 6pt;
    line-height: 6pt;
    text-align: right;
    color: white;
    margin-bottom: -5px;
    padding-left: 30%;
    

}


#myname{
    font-weight: lighter;
    font-size: 25px;


}


h2{
    font-family:"Outreque";
    font-weight: lighter;
    font-size: 6pt;
    line-height: 6pt;
    color: black;

}













    
@media (min-width: 200px) and (max-width: 646px){
    .menu{
        text-align: center;
        border-bottom: 1px double white;
        margin: 0px 20px 0px 20px;
        padding-bottom: 20px;
    }

    .signature{
        position: inherit;
margin: 10px 0px 15px 0px;
display: inherit;
text-align: center;
width: inherit;

    }

    header{
        margin:0px 0px -35px 0px;
    }

    .description-projet{
        margin: 0px 10px 40px 10px;
        max-width: inherit;
        text-align: center;
        font-size: 16px;
    }

    .title{
        text-align: center;
        margin-bottom: -5px;
        margin-top: 80px;
    }



    .info{
        text-align: center;
        margin-bottom: 30px;
    }

    .qui{
        text-align: center;
        margin-top: 60px;
        margin-bottom: 60px;
        
    }

    .article-flex-deux{
        margin-top: 20px;
    }


    h1{
    font-size: 27pt;
    }

    #namestudio{
        font-size: 4pt;
    line-height: 4pt;
        text-align: center;
        padding-left: inherit;
            
    }

}



